<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quizzotron</title>
    <meta charset="UTF-8"/>
</head>

<body>

<h1>Welcome to the Quizzotron!</h1>

<a href="login.html"
   th:href="@{/quizzotron/login}">Login</a>
<br>
<a href="register.html"
   th:href="@{/quizzotron/register}">Register a new User</a>

<h2>Current Users</h2>
<ul th:each="user: ${registeredUsers}">
    <li><a th:href="@{/quizzotron/login}" th:text="${user.getName()}">registeredUser</a></li>
</ul>

</body>

</html>
