<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Registration</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/quizzotron.css}"/>
</head>

<body>

<h1>Register</h1>
<form action="#" th:action="@{/quizzotron/register}" th:object="${user}" method="POST">
    <label th:class="${#fields.hasErrors('name')}? error">UserName:
    <input type="text" th:field="*{name}" placeholder="Name" />
    </label> <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Faulty input</p>
    <br>
    <label>Password:
        <input type="password" th:field="*{password}" />
    </label> <p th:if="${#fields.hasErrors('password')}" th:errors="*{name}">Faulty input</p>
    <br>
    <input type="submit" value="Register" />

</form>
</body>

</html>
